/* Set pop-up window width */
body {
    width: 50vw;
}

/* Limit width to 25% of view port on large screens */
@media (min-width: 990px) {
    body {
        width: 25vw;
    }
}


/* Set form margins */
form {
    margin: 2vw;
}