/* Set pop-up window width */
.chpopup_body {
    min-width: 300px;
}

/* Reduce pop-up window size in mobile devices */
@media only screen and (max-device-width: 640px) {
    .chpopup_body {
        min-width: 25vw;
    }
}


/* Set form margins */
.chform {
    margin: 2vw;
}